<div class ="jumbotron">
<h1>Submit jokes</h1>

<h1>New Joke</h1>
<%= form_for(@joke) do |v| %>  
<%= v.label :user %>  
<%= v.text_field :user %><br/>  
<%= v.label :content %>  
<%= v.text_field :content %><br/>  
<%= v.label :comment %>  
<%= v.text_field :comment %><br/>  
<%= v.submit %>
<% end %>

</div>